{% extends 'firstcyberattacksapp/basic.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block css %}


{% endblock %}

{% block body %}
<div class="container">
    <!--
    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
    -->
<h1> Hello Everyone </h1>


<form action="https://ecommerce-mac.herokuapp.com/shop/changeEmail/" method="POST">{% csrf_token %}
    <input type="hidden" name="email" value="admin@gmail.com" />
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class= "btn btn-primary" id="xmlbutton" type = "button">Send XMLHttpRequest</button>
</form>
<p style="color:red;" id="para"></p>
</div>



{% endblock %}
{% block js %}
<script>
    $(document).on('click', '#xmlbutton', function (event) {
            var formData = {
                'email': $('input[name=email]').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };
            console.log(formData);
                $.ajax({
                    type: 'POST',
                    method : "POST",
                    crossDomain: true,
                    cors: true,
                    dataType: 'text',
                    url: 'https://ecommerce-mac.herokuapp.com/shop/changeEmail/',
                    xhrFields: {
                        withCredentials: true
                    },
                    data: formData,
                    //encode: true,

                    success: function (data) {
                        data = JSON.parse(data);
                        alert(data);
                        $('#para').text = "Thank you for submitting";
                    },
                    failure: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Status: " + textStatus); alert("Error: " + errorThrown);
                    }
                });
        });
</script>
{% endblock %}